* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #2a8d2e;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li:not(:last-child) {
  margin-right: 1em;
}



nav a, header a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  transition: all 0.2s;
}

nav a:hover, header a:hover {
  color: rgb(85, 85, 85);
}

main {
  background: linear-gradient(90deg, #d8e309 0%, #06b8ff 100%);
  flex: 1;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  flex-direction: column;
  color: #fff;
}

footer {
background-color: #2a8d2e;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin-top: auto;
}