* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li:not(:last-child) {
  margin-right: 1em;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
  transition: all 0.2s;
}

nav a:hover {
  color: #f00;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em;
  margin-top: auto;
}