{% extends 'core/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'accounts/style.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/verification.css' %}">
{% endblock style %}
{% block title %}Verification Expired!{% endblock title %}

{% block content %}
    <div class="wrapper">
        <h1 style="text-align: center; color: white;">
            {{ msg }}
        </h1>
        <a class="btn" href="{% url 'core:index' %}">Home</a>
    </div>
{% endblock content %}