{% extends 'core/base.html' %}
{% load static %}
{% block style %}<link rel="stylesheet" href="{% static 'accounts/style.css' %}">{% endblock style %}
{% block title %}Registration{% endblock title %}

{% block content %}
    <div class="wrapper">
        <h2 class="head">Registration</h2>
        <form method="post" class="register-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
        <div class="oauth">
            <a href="{% url "social:begin" "google-oauth2" %}" class="google">Or Sign up with google</a>
            <a href="{% url "social:begin" "google-oauth2" %}" class="google"> <img class="google-icon" src="https://static.cdnlogo.com/logos/g/82/google-g-2015.svg"></a>
        </div>
    </div>
{% endblock content %}
