.head{
    text-align: center;
    margin-bottom: 30px;
}

.wrapper {
    width: 500px;
}

main {
  align-items: center;
  justify-content: center;
}

.register-form {

  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
background-color: #3e8e413c;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
  margin-bottom: 20px;
}

.register-form label {
background-color: #3e8e4100;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.register-form input[type="text"],
.register-form input[type="password"],
.register-form input[type="email"] {
  background-color: #3e8e4100;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  color: #fff;
}

.register-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: large;
  width: 100%;
}

.register-form button[type="submit"]:hover {
  background-color: #3e8e41;
}